name: Build Instrument Handbook
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install -y python3 python3-pip texlive-latex-recommended texlive-fonts-recommended texlive-latex-extra latexmk
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: |
          cd ${{ github.workspace }}
          pip3 install --user -r requirements.txt
          bash generate_pdfs.sh
          make html
      - name: Add SSH key
        env:
            SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
            mkdir -p /home/runner/.ssh
            echo "xwcl.science ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAqGanUWS9Wb34oCHCDX2xqhlCstMTN9c0oFoKJkYtZ3" >> /home/runner/.ssh/known_hosts
            echo "${{ secrets.DEPLOY_GARY }}" > /home/runner/.ssh/github_actions
            chmod 600 /home/runner/.ssh/github_actions
            ssh-agent -a $SSH_AUTH_SOCK > /dev/null
            ssh-add /home/runner/.ssh/github_actions
      - name: Sync to magao-x.org
        env:
            SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
            rsync -rz --delete _build/html/ gary@xwcl.science:/srv/www/main/docs/handbook/
